.content{
    text-align: center;
    } 
table{
    margin: auto;
    border-collapse: collapse;
    
}

input{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 200;
    height: 150px;
    width: 400px;
    color:white;
    background-color: black;
    border:grey;
   
}

button{
    font-size: 25px;
    background-image: linear-gradient(to right, rgb(255 255 255 / 98%), rgb(210 216 220));
    width: 100px;
    height: 70px;
    font-weight: 200;
    color rgba(0, 1, 0, 0.654);
    outline: 0;
    border-radius: 10px;
    
}

.calc{
    display: inline-block;
    border: 2px groove transparent;
    box-shadow: inset 1px -1px 121px 40px rgb(0 0 0), inset -20px 8px 8px rgb(0 0 0 / 53%), 2px 1px 20px 20px rgb(0 0 0 / 0%);
    margin-top: 80px;
}

button:hover{
    cursor: pointer;
    border-width: 10px;
}



button:active{
    font-size:18px;
}